<!DOCTYPE html>
<html lang="en">
<head>
<title>KOLABORASI</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="font/css/fontello.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="body">
		<div class="header">
			<div>
				<h1>USER REGISTRATION</h1>
			</div>
		</div>
	</div>
	<div class="container">
	<br/><br/>
		<div ng-app="myApp" class="footer"
			ng-controller="UserControl as ctrl">
			<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal"
				method="post">
				<div class="row">
					<div class="form-group col-md-6">
						<label class="col-md-2 control-lable" for="file">UserName</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.user.username" name="uname"
								class="username form-control input-sm"
								placeholder="Enter your username" required ng-minlength="3" />
						</div>
						<div class="has-error" ng-show="myForm.$dirty">
							<span ng-show="myForm.uname.$error.required">This is a
								required field</span> <span ng-show="myForm.uname.$error.minlength">Minimum
								length required is 3</span> <span ng-show="myForm.uname.$invalid">This
								field is invalid </span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label class="col-md-2 control-lable" for="file">Name</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.user.fname" name="fname"
								class="username form-control input-sm"
								placeholder="Enter your name" required ng-minlength="3" />
						</div>
						<div class="has-error" ng-show="myForm.$dirty">
							<span ng-show="myForm.fname.$error.required">This is a
								required field</span> <span ng-show="myForm.fname.$error.minlength">Minimum
								length required is 3</span> <span ng-show="myForm.fname.$invalid">This
								field is invalid </span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Address</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.user.address" name="address"
								class="form-control input-sm" placeholder="Enter your Address." />
						</div>
						<div class="has-error" ng-show="myForm.$dirty">
							<span ng-show="myForm.address.$error.required">This is a
								required field</span> <span ng-show="myForm.address.$invalid">This
								field is invalid </span>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Email</label>
						<div class="col-md-7">
							<input type="email" ng-model="ctrl.user.email" name="email"
								class="email form-control input-sm"
								placeholder="Enter your Email" required />
						</div>
						<div class="has-error" ng-show="myForm.$dirty">
							<span ng-show="myForm.email.$error.required">This is a
								required field</span> <span ng-show="myForm.email.$invalid">This
								field is invalid </span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Phone
							Number</label>
						<div class="col-md-7">
							<input type="number" ng-model="ctrl.user.phno" name="phno"
								class="email form-control input-sm"
								placeholder="Enter your phnoo" required />
						</div>
						<div class="has-error" ng-show="myForm.$dirty">
							<span ng-show="myForm.phno.$error.required">This is a
								required field</span> <span ng-show="myForm.phno.$invalid">This
								field is invalid </span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Password</label>
						<div class="col-md-7">
							<input type="password" ng-model="ctrl.user.password"
								name="password" class="email form-control input-sm"
								placeholder="Enter your password" required />
						</div>
						<div class="has-error" ng-show="myForm.$dirty">
							<span ng-show="myForm.password.$error.required">This is a
								required field</span> <span ng-show="myForm.password.$error.minlength">Minimum
								length required is 3</span> <span ng-show="myForm.password.$invalid">This
								field is invalid </span>
						</div>
					</div>
				</div>
				<br /> <br />
				<div class="row">
					<input type="submit" value="Register"
						class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
					<button type="button" ng-click="ctrl.reset()"
						class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset</button>
				</div>

			</form>
		</div>
	</div>
	<script src="js/service/user_service.js"></script>
	<script src="js/controller/user_controller.js"></script>
</body>
</html>